.features {
    @media screen and (min-width: 768px) {
        display: flex;
        // column-gap: 30px;
        margin-left: -30px;
        margin-top: -30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    &__item {
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 60px) / 2);
            margin-left: 30px;
            margin-top: 30px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 90px) / 4);
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 768px) {
            &:nth-child(n + 2) {
                margin-bottom: 0;
            }
        }
    }

    &__heading {
        font-weight: $font-bold;
        font-size: $size-standard;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__thumb {
        height: 120px;
        text-align: center;
        background-color: $background-team;
        margin-bottom: 30px;

        @extend %flex;
        justify-content: center;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__text {
        font-size: $size-standard;
        font-weight: $font-normal;
        line-height: 1.71;

        letter-spacing: 0.03em;
        color: $text-secondary;
    }
}