$background-nav: #ffffff;
$background-team: #f5f4fa;
$background-accent: #2f303a;
$text-main: #212121;
$text-secondary: #757575;
$text-contrast: #ffffff;
$text-accent: #2196f3;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$font-normal: 400;
$font-bold: 700;

$size-standard: 14px;